/* Reset default browser styles */
body, h1, h2, p, ul, li, nav {
    margin: 0;
    padding: 0;
}

/* Dark mode theme */
body {
    font-family: Arial, sans-serif;
    background-color: #121212; /* Dark background color */
    color: #fff; /* White text color */
}

/* Header Styles */
header {
    background-color: #333; /* Darker background color */
    color: #fff;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin-bottom: 10px;
    font-size: 36px;
}

/* Navigation Styles */
nav ul {
    list-style-type: none;
    text-align: center;
    margin-top: 10px;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
}

/* Main Content Styles */
main {
    padding: 20px;
}

/* Section Styles */
section {
    margin-bottom: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1); /* Light shadow for dark mode */
    padding: 20px;
    background-color: #333; /* Darker background color */
}

.section-content {
    max-width: 1200px;
    margin: 0 auto;
}

.section-content h2 {
    color: #fff;
    font-size: 24px;
    margin-bottom: 10px;
}

/* Form Styles */
form input[type="text"],
form button {
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    background-color: #555; /* Darker background color for form elements */
    color: #fff;
}

form button {
    cursor: pointer;
}

form button:hover {
    background-color: #777; /* Darken background color on hover */
}

/* Footer Styles */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    margin-top: 30px;
}


@keyframes fadeIn {
    from {
        opacity: 0; /* Start with opacity 0 */
    }
    to {
        opacity: 1; /* End with opacity 1 */
    }
}
.quote {
    font-size: 18px;
    color: #fff;
    font-style: italic;
    margin-top: 10px;
}


