/* menuStyles style sheet */
/* designates styles and formatting for html webpages */

/* each title and brackets affects that element in the html webpage that uses the menuStyles.css file for formatting */
body {
    margin: 0 10%;
    font-family: Verdana, sans-serif;
    font-size: 100%;
    color: #fff;
    background-color: #000;
}

/* style for centering logo */
.logo-container {
    text-align: center;
}

h1 {
    text-align: left;
    font-family: serif;
    font-weight: normal;
    font-size: 1.5em;
    text-transform: uppercase;
    border-bottom: 1px solid #FCD12A;
    margin-top: 30px;
    color: #fff;
    padding: 1em;
}

h2 {
    color: #fff;
    text-align: left;
    font-family: serif;
    font-weight: normal;
    font-size: 1.35em;
    text-transform: uppercase;
}

h3 {
    color: #fff;
    text-align: left;
    font-family: serif;
    font-weight: normal;
    font-size: 1.25em;
}

p {
    text-align: left;
    font-family: serif;
    font-weight: normal;
    font-size: 1em;
}

a {
    text-decoration: none;
    padding-bottom: .2em;
    color: #fff;
}

footer {
    text-align: center;
    padding: 10px;
    bottom: 0;
    width: 100%;
}

li {
    font-size: large;
    font-family: sans-serif;
}

/* styling for user login and sign up buttons*/
.user-button-container {
    text-align: right;
    padding-right: 20px;
    padding-top: 80px;
}

.user-button-container button {
    color: #a1a1a1;
    background-color: black;
    border: 1px solid #a1a1a1;
    font-family: 'Arial', sans-serif; 
    font-size: 16px; 
    padding: 10px 20px; 
}

.user-button-container button:hover {
    background-color: #a1a1a1;
    color: black;
}

/* CSS to change font color of Quill editor to white */
.ql-editor {
    color: white;
}

/* styling to keep nav bar scrolling with website*/
.fixed-header {
    position: fixed;
    justify-content: center;
    width: 100%;
    z-index: 1000;
    background-color: black;
    left: 0;
    right: 0; 
}

nav {
    text-align: center;
}

nav div {
    text-align: center;
}

nav div a {
    text-align: center;
    height: 65px;
    line-height: 65px;
    padding: 10px 15px;
    color: #a1a1a1;
    background-color: black;
    font-size: 14px;
    letter-spacing: 2px;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;
}

nav div a:hover {
    background-color: #ddd; /* Change to grey color when hovered */
    color: black;
}

/* Styling for the post form container */
.post-form-container {
    background-color: #333;
    padding: 20px;
    border-radius: 8px;
    margin-top: 20px;
}

/* Styling for the form labels */
.post-form-container label {
    display: block;
    margin-bottom: 8px;
    color: #fff;
}

/* Styling for form inputs and textarea */
.post-form-container input,
.post-form-container textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 1px solid #aaa;
    border-radius: 4px;
}

/* Styling for the submit button */
.post-form-container button {
    background-color: #a1a1a1;
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.post-form-container button:hover {
    background-color: #a1a1a1;
}