/* Add your styles for layout and design here */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('p.jpg');
    background-size: cover; /* Set background size to auto to maintain original GIF dimensions */
    background-position: center; /* Center the background image horizontally and vertically */
    background-repeat: no-repeat;
     /* Prevent background image from repeating */
     background-position-y: 30px
}

header {
    background-color: rgba(184, 173, 173, 0.8); /* Semi-transparent white background */
    padding: 10px;
}

.nav-tabs {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tab {
    padding: 10px 20px;
    margin: 0 5px;
    text-decoration: none;
    color: #333;
    border-radius: 5px;
    background-color: #dbe0e5; /* Blue background color */
    transition: background-color 0.3s ease;
}

.tab:hover {
    background-color: #c2d5ea; /* Darker blue on hover */
}

.active-tab {
    background-color: #97abc1; /* Darker blue for active tab */
    color: #fff; /* White text for active tab */
}

h2 {
    text-align: center; /* Center the title */
    color: #080909; /* Set the title color to blue */
    margin-top: 20px; /* Add some space above the title */
}
.youtube-tab {
    display: inline-block;
    padding: 10px 20px;
    margin-right: 10px; /* Add space between each tab */
    text-decoration: none;
    color: #333;
    border-radius: 5px;
    background-color: #dbe0e5; /* Blue background color */
    transition: background-color 0.3s ease;
}

.youtube-tab:hover {
    background-color: #c2d5ea; /* Darker blue on hover */
}

