/* menuStyles style sheet */
/* designates styles and formatting for html webpages */

/* each title and brackets affects that element in the html webpage that uses the menuStyles.css file for formatting */
body {
    margin: 0 10%;
    font-family: Verdana, sans-serif;
    font-size: 100%;
}

/* style for centering logo */
.logo-container {
    text-align: center;
}

h1 {
    text-align: left;
    font-family: serif;
    font-weight: normal;
    font-size: 1.5em;
    text-transform: uppercase;
    border-bottom: 1px solid #FCD12A;
    margin-top: 30px;
    color: rgba(0, 0, 0, 0.55);
    padding: 1em;
}

h2 {
    text-align: left;
    font-family: serif;
    font-weight: normal;
    font-size: 1.35em;
    text-transform: uppercase;
}

h3 {
    text-align: left;
    font-family: serif;
    font-weight: normal;
    font-size: 1.25em;
}

p {
    text-align: left;
    font-family: serif;
    font-weight: normal;
    font-size: 1em;
}

header {
    background-color: rgba(255, 255, 255, 0.5);
    height: 5em;
    padding: 1em;
}

a {
    text-decoration: none;
    border-bottom: 1px dotted;
    padding-bottom: .2em;
}

footer {
    background-color: #f0f0f0;
    text-align: center;
    padding: 10px;
    bottom: 0;
    width: 100%;
}

li {
    font-size: large;
    font-family: sans-serif;
}

/* the below formatting elements are for the header */
nav {
    text-align: center;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0.5em;
    font-weight: bold;
    text-align: center;
    display: inline-block; 
}

nav ul li a {
    text-decoration: none;
    border: 1px solid;
    border-radius: 0.5em;
    padding: 0.5em 1em;
    margin: 0.25em;
}

/* styling for login/logout button */
.user-button {
    padding: 15px 50px; 
    cursor: pointer;
    background-color: #d3950e;
    color: white;
    border: none;
    border-radius: 5px;
    list-style-type: none;
}

.login-container {
    padding: 15px 20px; 
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex; /* Use flexbox */
    align-items: center; /* Center items vertically */
}

/* styling for profile buttons */
.profile-title {
    padding: 15px 50px; 
    cursor: pointer;
    background-color: #d3950e;
    color: white;
    border: none;
    border-radius: 5px;
    list-style-type: none;
}

.profile-section {
    padding: 15px 20px; 
    position: absolute;
}