
body {
    background-image: url('giphy.gif');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    height: 100vh;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    margin-top: 0%;
    padding: 20px 0;
    color: rgb(241, 241, 241);
    background-color: rgba(0, 0, 0, 0.5);
}

nav {
    background-color: #efeaea;
    color: white;
    padding: 20px;
    text-align: center;
}

nav a {
    padding: 15px 30px;
    font-size: 18px;
    color: rgb(131, 65, 65);
    text-decoration: none;
    margin: 0 10px;
    display: inline-block;
}

nav a:hover {
    background-color: #4CAF50;
    color: rgb(59, 3, 3);
}

/* Styles specific to the Relaxation Sound Library page (index.html) */
#soundsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.sound-item {
    position: relative;
    width: 170px;
    height: 170px;
    padding: 10px;
    margin: 10px;
    background-color: #e8dede73;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.sound-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.sound-item h2 {
    font-size: 16px;
    margin-top: 10px;
}


nav a.btn {
    padding: 20px 40px; 
    font-size: 20px; 
}
