body {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    height:  100vh;
    margin:  0;
    padding:  0;
}

h1 {
    text-align: center;
    margin-top:  0%;
    padding:  20px  0;
    color: rgb(241,  241,  241);
    background-color: rgba(0,  0,  0,  0.5);
}

p {
    
}

.page-description {
    
    background-color: rgba(236, 231, 231, 0.8);
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.page-description h1 {
    text-align: center ;
    color: #f7eff3;
    
}

.page-description p {
    text-align: justify;
    color: #0f0f0f;
    line-height: 1.6;
   
}


nav {
    background-color: black;
    color: darkgray;
    padding:  20px;
    text-align: center;
}

nav a {
    padding:  15px  30px;
    font-size:  18px;
    color: #a1a1a1;
    text-decoration: none;
    margin:  0  10px;
    display: inline-block;
    font-size: 14px;
    letter-spacing: 2px;
    font-weight: 400;
    text-transform: uppercase;
}

nav a:hover {
    background-color: #4CAF50;
    color: rgb(59,  3,  3);
}

#soundsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top:  20px;
}

.sound-item {
    
    width:  200px;
    height:  200px;
    padding:  10px;
    margin:  10px;
    background-color: #9e9a9a27;
    box-shadow:  0  2px  4px rgba(0, 0, 0, 0.685);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sound-item img {
    
    width: 100px; 
    height: 100px;
    object-fit: cover; 
}

.sound-item h2 {
    font-size:  16px;
    margin-top:  10px;
}

.sound-audio {
    width: 100%;
    margin-top: 10px; 
    opacity: 0.6; /* Adjust the opacity value as needed */
  }
  