/* menuStyles style sheet */
/* designates styles and formatting for html webpages */

/* each title and brackets affects that element in the html webpage that uses the menuStyles.css file for formatting */
body {
  font-size: 100%;
  color: #fff;
  background-color: #000;
}

/* style for centering logo */
.logo-container {
  text-align: center;
}

h1 {
  text-align: left;
  font-family: serif;
  font-weight: normal;
  font-size: 1.5em;
  text-transform: uppercase;
  border-bottom: 1px solid #fcd12a;
  margin-top: 30px;
  color: #fff;
  padding: 1em;
}

h2 {
  color: #fff;
  text-align: left;
  font-family: serif;
  font-weight: normal;
  font-size: 1.35em;
  text-transform: uppercase;
}

h3 {
  color: #fff;
  text-align: left;
  font-family: serif;
  font-weight: normal;
  font-size: 1.25em;
}

p {
  text-align: left;
  font-family: serif;
  font-weight: normal;
  font-size: 1em;
}

a {
  text-decoration: none;
  padding-bottom: 0.2em;
  color: #fff;
}

footer {
  text-align: center;
  padding: 10px;
  bottom: 0;
  width: 100%;
}

/* styling for user login and sign up buttons*/
.user-button-container {
  text-align: right;
  padding-right: 20px;
  padding-top: 80px;
}

.user-button-container button {
  color: #a1a1a1;
  background-color: black;
  border: 1px solid #a1a1a1;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  padding: 10px 20px;
}

.user-button-container button:hover {
  background-color: #a1a1a1;
  color: black;
}